NEXT_PUBLIC_NETWORK_ID=mainnet
NEXT_PUBLIC_HOSTNAME=https://near.org
# endpoint to fetch TOS and Privacy Policy from IPFS
NEXT_PUBLIC_INFURA_SUBDOMAIN_NAME=
# CID of TOS and Privacy Policy on IPFS
NEXT_PUBLIC_TERMS_CID=
NEXT_PUBLIC_PRIVACY_CID=
