@import 'bootstrap';

:root {
  --gateway-page-container-padding-y: 2rem;
  --gateway-page-container-padding-x: 1rem;
}

.btn {
  text-decoration: none;
}

.gateway-page-container {
  width: 100%;
  flex-grow: 1;
  max-width: 1320px;
  margin: 0 auto;
  padding: var(--gateway-page-container-padding-y) var(--gateway-page-container-padding-x);
}

#near-wallet-selector-modal .open {
  z-index: 5000;
}

#idos_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}

#idos_container.visible {
  top: 50%;
  left: 50%;
  width: 150px;
  height: 30px;
  opacity: 1;
  overflow: visible;
}

#w3m-modal {
  z-index: 1002;
}

#launcher {
  color-scheme: light;
  width: 48px;
  height: 50px;
  padding: 0px;
  margin: 10px 20px;
  position: fixed;
  bottom: 10px;
  overflow: visible;
  opacity: 1;
  border: 0px;
  z-index: 999998;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: opacity, top, bottom;
  right: 10px;
}

@media (max-width: 650px) {
  #launcher {
    right: 2px;
    bottom: 10px;
  }
}
