.ref-org-homepage {
  color: #fff;
  font-family: 'Gantari', sans-serif;
}

.ref-org-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  /*gap: var(--section-gap);*/
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  /*padding: var(--section-gap) 24px;*/
}