:root {
  --slate-dark-1: #151718;
  --slate-dark-3: #202425;
  --slate-dark-5: #2b2f31;
  --slate-dark-6: #313538;
  --slate-dark-8: #4c5155;
  --slate-dark-9: #697177;
  --slate-dark-11: #9ba1a6;
  --slate-dark-12: #ecedee;
  --blue-light-9: #4ecfcf;

  --font-weight-medium: 500;
  --font-weight-bold: 600;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
  fill: #fff !important;
}

.max1Lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

* {
  box-sizing: border-box;
}

.loginGithub {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;

  padding: 0;
}

.profile-image.d-inline-block {
  height: 24px !important;
  width: 24px !important;
}

.player-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  /* height: auto; */
  border-radius: 4px;

  display: flex;
  justify-content: center;

  align-items: center;

  overflow: hidden;
}
.react-player {
  width: 100%;
  position: relative;

  object-fit: cover;
}

.react-player > div {
  position: absolute;
}

.containerCSS {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerCSS .contentCSS {
  width: 100%;
  max-width: 1250px;
  padding-inline: 16px;

  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
}
