name: weekly-production-release

on:
  schedule:
    - cron: '0 0 * * 2,4'

permissions: 
  pull-requests: write

jobs:
  pull-request:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: pull-request
        run: |
          gh pr create --base main --head develop -f -a calebjacob -a shelegdmitriy --title "2x weekly promotion of develop to main"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}